<%- include("partials/header.ejs") %>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://img.freepik.com/free-photo/close-up-young-successful-man-smiling-camera-standing-casual-outfit-against-blue-background_1258-65746.jpg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">About the Author</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Alan Stanley is a key founder of one of the largest multi national coporations in the world called BobbleHead. Being a philantrophist he decided to create a website for college students to keep track of their daily tasks.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

      </div>
    </div>
</div>
<%- include("partials/footer.ejs") %>
