.headingwork {
    background-color: rgb(244, 32, 32);
    border-radius: 15%;
    
}
.headingnormal {
    background-color: rgb(44, 227, 53);
    border-radius: 15%;
}
 #content {
    background-color: grey
 }